html, body {
    background-color: #ffeead;
    margin: 10px;
}

.container > div {border-radius:3px;}

.red {background-color: #ed1f1f;}
.blue {background-color: #0028af;}
.green {background-color: #056f0d;}
.purple, .purple2 {background-color: #770377;}

.container {
    display: grid;
    grid-template: repeat(3,100px) / repeat(4,1fr);  
    grid-gap: 5px;
}

.red {grid-column: 1/-1;}
.blue {grid-column: 1/3; grid-row: 2/4;}
.green {grid-column: 3/-1;}
.purple {grid-column: 3;}
.purple2 {grid-column: 4;}
